<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://treefer-001-site1.htempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://treefer-001-site1.htempurl.com:8172/msdeploy.axd?site=treefer-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>treefer-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\treefer-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GanttContext" Order="1" Enabled="True">
          <Destination Path="Data Source=sql5034.mywindowshosting.com;Initial Catalog=DB_A19ADC_gantt;Persist Security Info=True;User ID=DB_A19ADC_gantt_admin;Password=Nokian_73" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Gantt.Web.DAL.GanttContext, Gantt.Web" MigrationConfiguration="Gantt.Web.Migrations.Configuration, Gantt.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GanttContextEF" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=Gantt;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GanttContextEF_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DAL.DbDataModelEF.csdl|res://*/DAL.DbDataModelEF.ssdl|res://*/DAL.DbDataModelEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Gantt;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GanttContext-Web.config Connection String">
      <ParameterValue>Data Source=sql5034.mywindowshosting.com;Initial Catalog=DB_A19ADC_gantt;Persist Security Info=True;User ID=DB_A19ADC_gantt_admin;Password=Nokian_73</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GanttContextEF-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>